*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
 
}
#Título{
  padding-top: 7%;
  font-family: sans-serif;
  color:rgb(199, 110, 8);
  margin-left: 7%;
  margin-top: 20%;
 
}
#Subtitulo{
  font-family: sans-serif;
  color: rgb(199, 110, 8);
  margin-left: 10%;
  margin-bottom: 2%;
  
}
fieldset{
  border: 0;
}
body{
  background-color: rgb(235, 210, 182);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(199, 110, 8);
  margin-left: 35%;
  margin-right: 25%;
  margin-top: 3%;
  justify-content: center;
}
input ,select ,textarea ,button{
border-radius: 5px;
}
.campo{
  margin-bottom: 1em;
}
.campo label{
  margin-bottom: 0.2em;
  color: rgb(199, 110, 8);
  display: block;
}
fieldset.grupo.campo{
 float: left;
 margin-right: 1em;
}
.campo input[type ='text'], .campo input[type='email'], .campo select, .campo textarea{
  padding: 0.2em;
  border: 1px solid rgb(199, 110, 8);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}
.campo select option{
  padding-right: 1em;
}
.campo input :focus, .campo select :focus, .campo textarea:focus{
background-color: #fff;
}
.botao{
  font-size: 1.2em;
  border: 0;
  border: 1px solid rgb(199, 110, 8);
  background-color: #fff;
  color:rgb(199, 110, 8) ;
  padding: 5px;
}
.botao:hover{
  background: rgb(235, 210, 182);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}
#checkbox{
  display: inline-block;
}
.form{
  background-color: #fff;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-right: 20%;
}
.formulario{
  background-color: #fff;
  margin-right: 20%;
}


